.leftbar {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-left: -5%;
    color: rgb(244, 245, 247);
    font-weight: 600;
    font-family: poppins, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url('/public/Images/cardbg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.form input {
    border-radius: 20px;
    border: 1px solid rgba(244, 245, 247, 0.178);
    background-color: transparent;
    color: rgb(244, 245, 247);
    font-weight: 400;
}
.form input::placeholder{
    color: aliceblue;
}



.form textarea {
    border-radius: 20px;
    border: 1px solid rgba(244, 245, 247, 0.178);
    background-color: transparent;
    color: rgb(244, 245, 247);
    font-weight: 400;
}

.form select {
    border-radius: 20px;
    border: 1px solid rgba(244, 245, 247, 0.178);
    background-color: transparent;
    color: rgb(244, 245, 247);
    font-weight: 400;
}
.form select option{
    color: black;
}

.button {
    font-size: 20px;
    font-family: poppins, sans-serif;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    border: none;
    font-weight: 600;
}

