
.cardcontainer {
    width: 100%;
    height: 115vh;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/698/917/306/minimalism-simple-blue-gradient-wallpaper-preview.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 20%;
    height: 109vh;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    color: rgb(244, 245, 247);
    border: 1px solid rgba(244, 245, 247, 0.178);
    font-weight: 600;
    font-size: 30px;
    font-family: poppins, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url('/public/Images/cardbg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.cardbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardbody p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
    color: rgb(244, 245, 247);
    border-radius: 20px;
    padding: 8px;
    border: 1px solid rgba(244, 245, 247, 0.178);
}

.cardbutton {
    width: 100%;
    height: 50px;
    text-decoration: none;
    background-color: rgb(132, 164, 177);
    color: rgb(51, 50, 50);
    font-weight: 600;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.cardbutton button:hover{
    color: rgb(41, 40, 40);
    background: linear-gradient(90deg, rgb(244, 245, 247), rgb(9, 111, 129));
    background-size: 200% 100%;
    animation: gradientAnimation 3s ease infinite;
    transition: all 0.3s ease-in;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}