.cardcont {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 90%;
    height: 430px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    color: aliceblue;
    background-image: url('/public/Images/cardbg.jpg');
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: white;
    padding: 0.4rem;
    text-decoration: none;
    margin-top: 4px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-family: poppins, sans-serif;
    transition: all 0.3s ease;
}